# compiled output
/dist
/generated/prisma

# dependencies
/node_modules

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store

# tsbuildinfo
*.tsbuildinfo
